*{
 padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    height: 160vh;
    width: 100%;
    background-image: url(pic2.png);
    background-size: cover;
    background-position: center;
}
nav
{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 45px;
padding-left: 4%;
padding-right: 4%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    padding: 3px 3px;
    margin-right: 0px;
}
nav ul li a:hover{
    color: rgb(192, 109, 131);
    transition: 0.5s;
    border-radius: 20px;
}
.content{
    position: absolute;
    top:30%;
    left:15%;
    color: aliceblue;
}
h1{
    color:rgb(112, 118, 24)
}
.about{
    background-color: black;
    color: bisque;
    width:100%;
    padding:100px 0px;
}
.main{
    width:1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around; 
}
.about-text h2{
    font-size:45px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: rgb(235, 205, 235);
}
.about-text h3{
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgb(226, 108, 123);
}
.about-text p{
    font-size: 18px;
    color:blue;
    letter-spacing: 1px;
line-height: 20px;
margin-bottom: 40px;

}
button{
    background-color: rgba(232, 84, 229, 0.498);
    font-size: 18px;
    font-weight: bold;
    border:2px solid transparent;
    padding: 7px 7px;
    border-radius: 50%;
}
.skills{
    background-color: black;
    height: 70vh;
    width:100%;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    margin: auto;
}
.container{
    display: flex;
    gap: 50px;
    animation: scroll 40s linear infinite;
}
.card{
    border-radius: 30px;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card:nth-child(odd){
    background: linear-gradient(-229deg, pink, green);
}
.card:nth-child(even){
    background: linear-gradient(-229deg, red, blue);
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*5));
    }
}


.box{
    background-color: black;
    height: 100vh;
}
.box h1{
    text-align: center;
    margin-bottom: 20px;
}
.boxtest{
    display: flex;
   min-height:400px;
    align-items: center;
    justify-content: center;

}
.test{
    height:360px;
    width:330px;
    padding: 20px 15px;
    border-radius: 20px;
    margin:15px;
    background-color: rgb(219, 219, 128);
    margin: 15px;

}
.test h2{
    color:rgb(219, 52, 228);
    text-align: center;
    margin-bottom: 20px;
}
.paragraph p{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact{
    background-color:black;
    color: white;
    height:70vh;
    width: 100%;
}
.contact-box{
    display: flex;
    background-color: rgb(195, 220, 53);
}
.contact-left{
    flex-basis: 60%;
    padding : 40px 60px;
    color: rgb(207, 127, 22);
    
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: brown;
}
.contact h2{
    margin-bottom: 25px;
    text-align: center;
    color:red;
}
.input-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;
}
.input{
    width:100%;
    border: none;
    border-bottom: 1px solid rebeccapurple;
}
textarea{
    width:100%;
    box-sizing: border-box;
    padding: 15px;
    border:1px solid burlywood;
}
label{
    margin-bottom: 5px;
    display: block;
    color: rgb(28, 110, 83);
}
tr td:first-child{
    padding-right: 20px;
}
